{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "no-console": 0,
    "imlicit-arrow-linebreak": "below"
    "arrow-parens": "as-needed"
  }
}
